<mat-toolbar color="primary">
  <span class="logo">BlogUOC</span>
  
  <!-- NO AUTH REQUIRED -->
  <div *ngIf="showNoAuthSection" class="menu-buttons">
    <button mat-button (click)="dashboard()">
      <mat-icon>dashboard</mat-icon> Dashboard
    </button>
    <button mat-button (click)="home()">
      <mat-icon>home</mat-icon> Home
    </button>
    <button mat-button (click)="login()">
      <mat-icon>login</mat-icon> Login
    </button>
    <button mat-button (click)="register()">
      <mat-icon>person_add</mat-icon> Register
    </button>
  </div>

  <!-- AUTH REQUIRED -->
  <div *ngIf="showAuthSection" class="menu-buttons">
    <button mat-button (click)="dashboard()">
      <mat-icon>dashboard</mat-icon> Dashboard
    </button>
    <button mat-button (click)="home()">
      <mat-icon>home</mat-icon> Home
    </button>
    <button mat-button (click)="adminPosts()">
      <mat-icon>article</mat-icon> Posts
    </button>
    <button mat-button (click)="adminCategories()">
      <mat-icon>category</mat-icon> Categories
    </button>
    <button mat-button (click)="profile()">
      <mat-icon>person</mat-icon> Profile
    </button>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </div>
</mat-toolbar>